.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h5 {
  display: inline;
  margin-right: 30px;
}

.SearchBox{
  width: 100%;
}

.TableDiv{
  overflow-y:scroll;
  width: 100%;
  height:500px;
  margin-top: 20px;
  margin-bottom: 20px;  
  border: #282c34;
  border-style: solid;
}

/* 
.ResultTable
{
  width: 100%;

} */


.ResultTable table, th, td
{
  border: 1px solid black;
  table-layout: fixed;
}

.ResultTable th, td
{
  padding: 15px;
  width: 50%;
  overflow: hidden;
}

img{
  height: 250px;
  width: 250px;
  float: left;
  margin-right: 30px;
}

.Profile
{
  border: #282c34;
  border: 1px solid black;
  height:500px;
  margin-top: 20px;
  margin-bottom: 20px;  
  padding: 10px;
}